streamlit
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain_huggingface
langgraph
python-dotenv
sentence-transformers
pypdf
langchain-chroma
wikipedia
duckduckgo-search
pytest
torch
tensorflow
transformers